<!-- FISIteka/app/templates/login.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Iniciar Sesión</h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <p>{{ form.email.label }} {{ form.email }}</p>
        <p>{{ form.password.label }} {{ form.password }}</p>
        <p>{{ form.remember.label }} {{ form.remember }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a>.</p>
{% endblock %}
